$blue: #2B80D2;
$light-green: #C9F7F5;
$light-orange: #FEF4DF;
$light-pink: #F4E1F0;
$green: #42c159;
$dark-green: rgb(52, 146, 47);
$gray: #6858588e;
$light-gray: #f5f5f5;
$red: #F64E60;
$dark-red: rgb(155, 8, 22);
$white: white;
$black: black;

$border-color: #cecece;
